<% title @member.name %>

<p class="actions">
  <%= link_to 'Все участницы', manage_contest_members_path(@contest), :class => "button light" %>
  <%= link_to t(:edit), edit_manage_contest_member_path(@contest, @member), :class => "button light" %>
  <%= link_to "Сортировка фотографий", sort_photos_manage_contest_member_path(@contest, @member), :class => "button light" %>
</p>


<div class="member">
  <div class="left_side">
    <% unless @member.main_photo.blank? %>
      <p>
        <%= link_to image_tag(@member.main_photo.image.url(:normal),
                    :size => @member.main_photo.image.dimensions("normal"),
                    :alt => @member.name),
                    @member.main_photo.image.url(:large),
                    :rel => @member.slug,
                    :class => "photo_link" %>
      </p>
      <div class ="single_voting">
        <p><%= @member.main_photo.image.dimensions("normal") %></p>
        <p>
          <%= link_to t(:delete), [:manage, @contest, @member, @member.main_photo],
                      :method => :delete,
                      :confirm => "Вы уверены что хотите удалить фотографию?" %>
        </p>
      </div>
    <% else %>
      <%= image_tag "miss_blank.jpg", :width => "233", :height => "350" %>
    <% end %>
  </div>
  <div class="right_side">
    <%= content_tag :h2, @member.nomination unless @member.nomination.blank? %>
    <%= simple_format(@member.annotation).gilensize.html_safe %>
    <%= simple_format(@member.content).gilensize.html_safe %>
    <% unless @member.other_photos.blank? %>
      <div class="member_photos">
        <% @member.other_photos.each do |photo| %>
          <div class="member_photo">
            <p>
              <%= link_to image_tag(photo.image.url(:small),
                          :size => photo.image.dimensions("small"),
                          :alt => @member.name),
                          photo.image.url(:large),
                          :rel => @member.slug,
                          :class => "photo_link" %>
            </p>
            <p><%= photo.image.dimensions("small") %></p>
            <p>
              <%= link_to t(:delete), [:manage, @contest, @member, photo],
                          :method => :delete,
                          :confirm => "Вы уверены что хотите удалить фотографию?" %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= semantic_form_for @member.photos.new, :url => manage_contest_member_photos_path(@contest, @member), :html => {:multipart => true} do |form| %>
      <%= form.inputs do %>
        <%= form.input :image, :as => :file %>
      <% end %>
      <%= form.actions do %>
        <%= form.action :submit, label: "Добавить", :button_html => { :class => "button" } %>
      <% end %>
    <% end %>
  </div>
</div>

