<%= semantic_form_for [:manage, @contest] do |form| %>
  <%= form.inputs do %>
    <%= form.input :year %>
    <%= form.date_input :voting_started_on %>
    <%= form.date_input :voting_finished_on %>
    <%= form.input :sponsors %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :class => "button" } %>
    <li><%= link_to t(:cancel), smart_resource_url, :class => "button light" %></li>
  <% end %>
<% end %>

