<%= semantic_form_for [:manage, @contest] do |form| %>
  <%= form.inputs do %>
    <%= form.input :year, :input_html => { :class => "focus_first" } %>
    <%= form.date_input :voting_started_on %>
    <%= form.date_input :voting_finished_on %>
    <%= form.input :additional %>
    <%= form.input :sponsors %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :class => "button" } %>
    <li><%= link_to t(:cancel), smart_resource_url, :class => "button light" %></li>
    <li class="floatr"><%= link_to t(:delete), [:manage, @contest], :class => "button light", :method => :delete, :confirm => "Вы точно хотите удалить конкурс со всеми его участницами?" unless @contest.new_record? %></li>
  <% end %>
<% end %>

