<p><%= link_to t(:new), new_manage_contest_path, :class => "button" %></p>

<% @contests.each do |contest| %>
  <div class="contest_item<%= contest.current? ? ' current' : '' %>">
    <p class="<%= contest.published? ? 'published' : 'unpublished' %>">
      <%= link_to contest.year, manage_contest_members_path(contest), :class => "contest" %>
      <%= link_to t(:edit), edit_manage_contest_path(contest) %>
      <%= link_to "Сделать текущим", set_current_manage_contest_path(contest),
                  :method => :put unless contest.current? %>
      <%= link_to "Опубликовать", publish_manage_contest_path(contest),
                  :method => :put, :class => "publish" unless contest.published? %>
      <%= link_to "Снять с публикации", publish_manage_contest_path(contest),
                  :method => :put, :class => "unpublish" if contest.published? %>
    </p>
    <p class="<%= contest.during_voting? ? 'active' : 'archive' %>">
      Голосование с <%= l(contest.voting_started_on) %> по <%= l(contest.voting_finished_on) %>
    </p>
  </div>
<% end %>

