<%= content_for :contests do %>
  <div class="contests">
    <ul>
      <% Contest.published.each do |contest| %>
        <li>
          <%= link_to "Мисс #{contest.year}", contest_path(contest) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= content_for :promoters do %>
  <% unless @contest.blank? %>
    <%= content_tag :div, raw(@contest.sponsors), :class => "promoters" unless @contest.sponsors.blank? %>
  <% end %>
<% end %>

<%= render :file => 'layouts/application' %>

