<%= raw(@contest.additional) if @contest.additional %>

<div class="members_list">
<% @members.each_slice(2) do |row_members| %>
  <div class="line">
  <% row_members.each do |member| %>
    <div class="member <%= cycle('odd', 'even') %>">
      <div class="photo">
        <p><%= link_to image_tag(member.main_photo.image.url(:small)), member_path(@contest, member) if member.main_photo %></p>
        <div class ="list_voting">
          <%= render :partial => "/votings/vote", :locals => {:member => member} %>
        </div>
      </div>
      <div class="description">
        <p><strong><%= link_to member.name, member_path(@contest, member) %></strong></p>
        <%= content_tag :p, member.nomination, :class => "nomination" unless member.nomination.blank? %>
        <%= simple_format(member.annotation).gilensize %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
</div>

